<div id="tag">
  <p class="tag-title">
    / <a href="<%=url_for(i18n_path(page.lang, config.tag_dir))%>">tags</a>
    / <a href="<%=page.tag.path%>"><%=page.tag%></a> /
  </p>
  <%- partial('partials/post_list') %>
</div>