code
    text-style(code-highlight)
    
.code 
    pre
        text-style(code-default)

.highlight
    margin 0 0 $margin-m-2 0

    .line
        width $margin-l-2

td.gutter
    width $margin-l-0
    text-style(code-marker)
    position -webkit-sticky
    position sticky
    left 0

td
    span
        line-height $margin-s-2

pre
    margin 0
    overflow scroll

