// COLOR
$color-text-primary = #d5d5d5
$color-text-secondary = #6C6C6C
$color-text-third = #838383
$color-text-fourth = #414141
$color-background = #202020

$color-code-background = #AFAFAF
$color-code-highlight = #60CFFF
$color-code-default = #d5d5d5
$color-code-marker = #BDBDBD

$color-search-marker = #756D29
$color-overlay = rgba(0, 0, 0, 0.8)

// CODE HIGHLIGHT
@import "../highlight/rainbow.styl"