// COLOR
$color-text-primary = #373633
$color-text-secondary = #AFAEA9
$color-text-third = #E8E8E8
$color-text-fourth = #EFEFEF
$color-background = #ffffff

$color-code-background = #F4F4F4
$color-code-highlight = #0177AA
$color-code-default = #7D7C78
$color-code-marker = #BABABA

$color-search-marker = #FFF59B
$color-overlay = rgba(0, 0, 0, 0.2)

// CODE HIGHLIGHT
@import "../highlight/solarized-light.styl"